---
layout: main
---
{% if page.status=="published" %}
<article class="article-page">
  <div class="page-content">
	<div class="game">
	  {% if page.img %}
		<img class="header-image" src="{{ page.img | relative_url }}">
			{% if page.embed %}
			<img class="play-button" src="{{ "assets/img/play.png" | relative_url }}">
			{% endif %}
		</img>
	  {% endif %}
	</div>
	{% if page.embed %}
	<div class="embedgame"></div>
	<script>
		$('.playbutton,img').click(function(){
		var gameVar = '<div class="unity-container"><iframe src="{{ page.embed | relative_url }}"></iframe></div>';
		$('.game').hide();
		$('.embedgame').html(gameVar);
		$('.close').show();
		});
		$('.close').click(function(){
		$('.game').show();
		$('.embedgame').empty();
		$('.close').hide();
		});
	</script>
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
		{% assign months = "Enero|Febrero|Marzo|Abril|Mayo|Junio|Julio|Agosto|Septiembre|Octubre|Noviembre|Diciembre" | split: "|" %}
		{% assign m = page.date | date: "%-m" | minus: 1 %}
		{% assign day = page.date | date: "%d" %}
		{% assign month = months[m] %}
		{% assign year = page.date | date: "%Y" %}
		<span class="page-date">{{ day }} de {{ month }}, {{ year }}</span>
      </header>
      {{page.content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
{% endif %}
